## Random Forest 
<br/>
Random Forest Algorithm is another popular machine learning technique used in regression and classification both now why is it called random forest well the forest has trees and a tree in machine learning world means a decision tree.

In [1]:
# Libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
#
#import warnings
#warnings.filterwarnings('ignore')

### Obtain Data
We get the data from CSV file and put in a df

In [2]:
# Loaded Data from CSV
def read_data_set(name):
    #delete the header
    return pd.read_csv(name, header=None).iloc[1: , :]

csv_file = '../assignment_ds.csv'
csv_file_test='../test_ds.csv'

#we read the assignment and test CSVs
df=read_data_set(csv_file)
test_df=read_data_set(csv_file_test)

#show the first 10 rows
df[0:10]

        0         1       2       3           4  5  6
1    3453  0.000621  0.0773   17.08         Red  M  0
2   12098       689    7.01    0.02  Blue-white  A  3
3    2731  0.000437  0.0856   18.09         Red  M  0
4   37800    202900    6.86   -4.56        Blue  O  3
5    8570   0.00081  0.0097    14.2  Blue white  A  2
6    3605    126000    1124  -10.81         Red  M  5
7    8052       8.7     1.8    2.42     Whitish  A  3
8    3574    200000      89   -5.24         Red  M  4
9    8829    537493    1423  -10.73       White  A  5
10   3625     74000     876  -10.25         Red  M  5

### Merge DFs
We combine them

In [3]:
#we concatenete the dataframes that means put one below other
extra_df=pd.concat([df, test_df])

#we reset the index
extra_df.index = range(extra_df.shape[0])
extra_df

         0         1       2       3           4  5    6
0     3453  0.000621  0.0773   17.08         Red  M    0
1    12098       689    7.01    0.02  Blue-white  A    3
2     2731  0.000437  0.0856   18.09         Red  M    0
3    37800    202900    6.86   -4.56        Blue  O    3
4     8570   0.00081  0.0097    14.2  Blue white  A    2
..     ...       ...     ...     ...         ... ..  ...
234   2935   0.00014   0.116   18.89         Red  M  NaN
235   3340    0.0038    0.24   13.07         Red  M  NaN
236  23095    347820      86  -5.905        Blue  O  NaN
237   3225   0.00076   0.121   19.63         Red  M  NaN
238   2700   0.00018    0.13   16.05         Red  M  NaN

[239 rows x 7 columns]

### Clean Data

In [4]:
# the column of the colors we converte it to lower case
def to_lower_case(datafra):
    return datafra[4].map(lambda x: x if type(x)!=str else x.lower())

extra_df[4] = to_lower_case(extra_df)

def change_colors(datafr):
    datafr[4] = datafr[4].replace(['blue-white'], 'blue white')
    datafr[4] = datafr[4].replace(['orange-red'], 'orange red')
    datafr[4] = datafr[4].replace(['yellow-white'], 'yellow white')
    datafr[4] = datafr[4].replace(['white-yellow'], 'white yellow')
    
# Change the colors bad writed
change_colors(extra_df)

extra_df

         0         1       2       3           4  5    6
0     3453  0.000621  0.0773   17.08         red  M    0
1    12098       689    7.01    0.02  blue white  A    3
2     2731  0.000437  0.0856   18.09         red  M    0
3    37800    202900    6.86   -4.56        blue  O    3
4     8570   0.00081  0.0097    14.2  blue white  A    2
..     ...       ...     ...     ...         ... ..  ...
234   2935   0.00014   0.116   18.89         red  M  NaN
235   3340    0.0038    0.24   13.07         red  M  NaN
236  23095    347820      86  -5.905        blue  O  NaN
237   3225   0.00076   0.121   19.63         red  M  NaN
238   2700   0.00018    0.13   16.05         red  M  NaN

[239 rows x 7 columns]

### Normalize Data

In [5]:
#def normalize(datafr):
    # scale input data from numbers
#    inputs_numbers = datafr[[0,1,2,3]]
    #transform it to a numpy array
#    x = inputs_numbers.values 
    #use min max sclaer function
#    min_max_scaler = MinMaxScaler()
    #apply min max
#    x_scaled = min_max_scaler.fit_transform(x)
#    return pd.DataFrame(x_scaled)

#inputs_numbers=normalize(extra_df)
inputs_numbers= extra_df[[0,1,2,3]]
inputs_numbers

         0         1       2       3
0     3453  0.000621  0.0773   17.08
1    12098       689    7.01    0.02
2     2731  0.000437  0.0856   18.09
3    37800    202900    6.86   -4.56
4     8570   0.00081  0.0097    14.2
..     ...       ...     ...     ...
234   2935   0.00014   0.116   18.89
235   3340    0.0038    0.24   13.07
236  23095    347820      86  -5.905
237   3225   0.00076   0.121   19.63
238   2700   0.00018    0.13   16.05

[239 rows x 4 columns]

### Make One Hot Encoding - Colors & Type Spectrum

In [6]:
def one_hot_encode(dataframe):    
    #we use get dummies for hot encoding that is a function of pandas for Colors and type of spectrum
    one_hot_colors = pd.get_dummies(dataframe[[4]]).reset_index(drop=True)
    one_hot_spectrum = pd.get_dummies(dataframe[[5]]).reset_index(drop=True)
    return one_hot_colors,one_hot_spectrum

one_hot_colors,one_hot_spectrum=one_hot_encode(extra_df)
one_hot_spectrum

     5_A  5_B  5_F  5_G  5_K  5_M  5_O
0      0    0    0    0    0    1    0
1      1    0    0    0    0    0    0
2      0    0    0    0    0    1    0
3      0    0    0    0    0    0    1
4      1    0    0    0    0    0    0
..   ...  ...  ...  ...  ...  ...  ...
234    0    0    0    0    0    1    0
235    0    0    0    0    0    1    0
236    0    0    0    0    0    0    1
237    0    0    0    0    0    1    0
238    0    0    0    0    0    1    0

[239 rows x 7 columns]

### Target to One Hot Encode

In [7]:
#we use the label encoder to one hot encode the target classfication
target=df[[6]]
# integer encode
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(target)
# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
target = pd.DataFrame(onehot_encoded)

#we rename his columns for adding them in the data frame
target = target.rename(columns = {
   0: 23,
   1: 24,
   2: 25,
   3: 26,
   4: 27,
   5: 'target',
    
}, inplace = False)
target

C:\Users\Adrian\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Adrian\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

      23   24   25   26   27  target
0    1.0  0.0  0.0  0.0  0.0     0.0
1    0.0  0.0  0.0  1.0  0.0     0.0
2    1.0  0.0  0.0  0.0  0.0     0.0
3    0.0  0.0  0.0  1.0  0.0     0.0
4    0.0  0.0  1.0  0.0  0.0     0.0
..   ...  ...  ...  ...  ...     ...
195  0.0  0.0  1.0  0.0  0.0     0.0
196  0.0  0.0  1.0  0.0  0.0     0.0
197  0.0  0.0  0.0  1.0  0.0     0.0
198  0.0  0.0  0.0  1.0  0.0     0.0
199  0.0  0.0  1.0  0.0  0.0     0.0

[200 rows x 6 columns]

### Move target column to the end and Join the rest

In [8]:
#We concatenate the dataframes to have the new dataframe with all clean data
new_df= pd.concat([inputs_numbers, one_hot_colors, one_hot_spectrum, target], axis=1,)

new_df

,0,1,2,3,4_blue,4_blue white,4_orange,4_orange red,4_pale yellow orange,4_red,...,5_G,5_K,5_M,5_O,23,24,25,26,27,target
0,3453,0.000621,0.0773,17.08,0,0,0,0,0,1,...,0,0,1,0,1.0,0.0,0.0,0.0,0.0,0.0
1,12098,689,7.01,0.02,0,1,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
2,2731,0.000437,0.0856,18.09,0,0,0,0,0,1,...,0,0,1,0,1.0,0.0,0.0,0.0,0.0,0.0
3,37800,202900,6.86,-4.56,1,0,0,0,0,0,...,0,0,0,1,0.0,0.0,0.0,1.0,0.0,0.0
4,8570,0.00081,0.0097,14.2,0,1,0,0,0,0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,2935,0.00014,0.116,18.89,0,0,0,0,0,1,...,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
235,3340,0.0038,0.24,13.07,0,0,0,0,0,1,...,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
236,23095,347820,86,-5.905,1,0,0,0,0,0,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
237,3225,0.00076,0.121,19.63,0,0,0,0,0,1,...,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
238,2700,0.00018,0.13,16.05,0,0,0,0,0,1,...,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN

### Rename the columns with his index

In [9]:
#Here we change the name of the columns and put the number of his column instead
def rename_columns(datafram):    
    return datafram.rename(columns = {
        '4_blue': 4,
        '4_blue white':5,
        '4_orange':6,
        '4_orange red': 7,
        '4_pale yellow orange': 8,
        '4_red': 9,
        '4_white': 10,
        '4_white yellow': 11,
        '4_whitish': 12,
        '4_yellow white': 13,
        '4_yellowish':14,
        '4_yellowish white': 15,
        '5_A': 16,
        '5_B': 17,
        '5_F': 18,
        '5_G': 19,
        '5_K': 20,
        '5_M': 21,
        '5_O': 22    
    }, inplace = False)

df=rename_columns(new_df)
df

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,target
0,3453,0.000621,0.0773,17.08,0,0,0,0,0,1,...,0,0,1,0,1.0,0.0,0.0,0.0,0.0,0.0
1,12098,689,7.01,0.02,0,1,0,0,0,0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
2,2731,0.000437,0.0856,18.09,0,0,0,0,0,1,...,0,0,1,0,1.0,0.0,0.0,0.0,0.0,0.0
3,37800,202900,6.86,-4.56,1,0,0,0,0,0,...,0,0,0,1,0.0,0.0,0.0,1.0,0.0,0.0
4,8570,0.00081,0.0097,14.2,0,1,0,0,0,0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,2935,0.00014,0.116,18.89,0,0,0,0,0,1,...,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
235,3340,0.0038,0.24,13.07,0,0,0,0,0,1,...,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
236,23095,347820,86,-5.905,1,0,0,0,0,0,...,0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
237,3225,0.00076,0.121,19.63,0,0,0,0,0,1,...,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
238,2700,0.00018,0.13,16.05,0,0,0,0,0,1,...,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN

### Separete column target and data

In [10]:
# X: has 0 to 27 columns / 'data'
X = df.drop('target',axis='columns')

# y: has target column
y = df.target

In [74]:
# Use 'train_test_split' 
# test_size=0.2 : means 20% of my sample is test data and 80% are training data
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [75]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 130)

print(X_train)

        0         1        2       3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18  19  20  21  22   23   24  \
15   17200   0.00098    0.015   12.45   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
169   5112      0.63    0.876    4.68   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0  0.0  0.0
155   3542    0.0009     0.62   14.23   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
184   9030        45     2.63    1.45   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
66    3600    240000     1190   -7.89   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
100  36108    198000     10.2    -4.4   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
68   14982   0.00118   0.0113   12.23   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
75    3323   0.00043   0.0912   17.16   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
171  11790   0.00015    0.011   12.59   0   0   0   0   0   0   0   0   0   0   0   1   0   0   1   0   0   0   0  0.0  0.0
176   3607     0.022     0.38   10.12   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
1    12098       689     7.01    0.02   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
3    37800    202900     6.86   -4.56   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
178   3523  0.000957    0.129   16.35   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
91    6380      1.35     0.98    2.93   0   0   0   0   0   0   0   0   0   1   0   0   0   0   1   0   0   0   0  0.0  0.0
72    3531   0.00093   0.0976   19.94   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
82   10930    783930       25  -6.224   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
203   3628    0.0055    0.393   10.48   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  NaN  NaN
102  12984   0.00088  0.00996   11.23   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
60    2637   0.00073    0.127   17.22   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
182  32489    648430   1948.5  -10.84   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
135   8930   0.00056   0.0095   13.78   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
84   10980   0.00074   0.0087   11.19   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
108  38940    374830     1356   -9.93   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
117   3610    132000     1522  -10.86   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
134   2889  0.000352   0.0973   16.93   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
69    2600    0.0004    0.096    17.4   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
22   23092   0.00132   0.0104   10.18   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
166   1939  0.000138    0.103   20.06   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
78   12990  8.50E-05  0.00984   12.23   0   0   0   0   0   0   0   0   0   0   0   1   0   0   1   0   0   0   0  0.0  0.0
220   2799    0.0018     0.16   14.79   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  NaN  NaN
153   2968  0.000461    0.119   17.45   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
170  22012      6748     6.64   -2.55   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
137  24145    382993     1494   -8.84   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
198  39000    204000     10.6    -4.7   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
183   8250      9.25     1.93   -0.98   0   0   0   0   0   0   0   0   0   1   0   0   0   0   1   0   0   0   0  0.0  0.0
6     8052       8.7      1.8    2.42   0   0   0   0   0   0   0   0   1   0   0   0   1   0   0   0   0   0   0  0.0  0.0
63   19360   0.00125  0.00998   11.62   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
175  38234    272830     1356   -9.29   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
105   9373    424520       24   -5.99   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
48    2890    0.0034     0.24   13.46   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
34   15680   0.00122   0.0114   11.92   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
50    9320        29     1.91   1.236   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
94    2778  0.000849    0.112   19.45   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
123  10574   0.00014   0.0092   12.02   0   0   0   0   0   0   1   0   0   0   0   0   0   0   1   0   0   0   0  0.0  0.0
159  11096    112000       12   -5.91   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
196  19860    0.0011   0.0131   11.34   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
219  33300    240000       12    -6.5   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  NaN  NaN
161  24345    142000       57   -6.24   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
231  26140     14520     5.49    -3.8   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  NaN  NaN
190   7700   0.00011   0.0128   14.47   0   0   0   0   0   0   0   0   0   0   0   1   0   0   1   0   0   0   0  0.0  0.0
106   7220   0.00017    0.011   14.23   0   0   0   0   0   0   1   0   0   0   0   0   0   0   1   0   0   0   0  0.0  0.0
136  14100   0.00067   0.0089   12.17   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
10   17383    342900       30   -6.09   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
147  11567    251000       36  -6.245   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
54    3523    0.0054    0.319   12.43   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
238   2700   0.00018     0.13   16.05   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  NaN  NaN
233   3399    117000     1486  -10.92   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  NaN  NaN
154   9675   0.00045   0.0109   13.98   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
197  13023       998     6.21   -1.38   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
165  18000    200000     1045    -8.3   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
216  13720   0.00018  0.00892   12.97   0   0   0   0   0   0   1   0   0   0   0   0   0   0   1   0   0   0   0  NaN  NaN
132   3750    283000     1260   -7.63   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
180   3598    0.0011     0.56   14.26   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
96    3484  0.000551   0.0998   16.67   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
156  14520   0.00082  0.00972   11.92   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
42   25390    223000       57   -5.92   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
168   3008    280000       25      -6   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
47    3780    200000     1324   -10.7   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
207  24490    248490   1134.5   -8.24   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  NaN  NaN
234   2935   0.00014    0.116   18.89   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  NaN  NaN
0     3453  0.000621   0.0773   17.08   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
204   3496   0.00125    0.336   14.94   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  NaN  NaN
236  23095    347820       86  -5.905   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  NaN  NaN
116   3324    0.0065    0.471   12.78   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
120   3365    340000       23    -6.2   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
112  18734    224780       46   -7.45   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
125   3095   0.00019    0.492   10.87   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
177   6850    229000     1467  -10.07   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   1   0   0   0  0.0  0.0
139   2800    0.0002     0.16   16.65   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
7     3574    200000       89   -5.24   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
21    2914  0.000631    0.116   18.39   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
143  12675    452000       83   -5.62   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
11    3419  0.000245    0.126   17.56   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
31    3441     0.039    0.351   11.18   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
23    2835   0.00034   0.0918   16.96   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
146   3270    150000       88   -6.02   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
113   2831  0.000231   0.0915   16.21   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
101  11250       672     6.98    -2.3   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
138   7230  8.00E-05    0.013   14.08   0   0   0   0   1   0   0   0   0   0   0   0   0   0   1   0   0   0   0  0.0  0.0
103   2817   0.00098   0.0911   16.45   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
142   3600    320000       29    -6.6   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
145   2994    0.0072     0.28   13.45   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
208  11000    170000     1779    -9.9   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  NaN  NaN
18   32460    173800    6.237   -4.36   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
232   3146   0.00015   0.0932   16.92   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  NaN  NaN
65    3345     0.021    0.273    12.3   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
212   9700        74     2.89    0.16   0   0   0   0   0   0   0   0   1   0   0   0   0   1   0   0   0   0   0  NaN  NaN
16    3091    0.0081     0.24   11.43   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
81    3304    0.0085     0.18    13.2   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
152   3129    0.0122   0.3761   11.79   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
45    3324    0.0034     0.34   12.23   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
110  40000    813000       14   -6.23   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
115  27739    849420     1252   -7.59   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
14    3142   0.00132    0.258   14.12   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
210  23678    244290       35   -6.27   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  NaN  NaN
195  13420   0.00059  0.00981   13.67   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
126  24630    363000       63   -5.83   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
119   5300      0.59     0.91    5.49   0   0   0   0   0   0   0   0   0   1   0   0   0   0   1   0   0   0   0  0.0  0.0
55    3432   0.00067     0.19   16.94   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
49   12912   0.00071  0.00945   12.83   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
185   8945        38    2.487    0.12   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
30    4526     0.153    0.865   6.506   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0  0.0  0.0
209  24020   0.00159   0.0127   10.55   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  NaN  NaN
62   13089       788    5.992   -0.12   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
43    3100     0.008     0.31   11.17   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
228  20120      4720     6.78    -3.4   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  NaN  NaN
131   7723   0.00014  0.00878   14.81   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
218   3541    0.0013    0.256   14.33   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  NaN  NaN
237   3225   0.00076    0.121   19.63   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  NaN  NaN
9     3625     74000      876  -10.25   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
32   10012       552    5.856   0.013   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
128   3459    100000     1289   -10.7   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
46    2840   0.00065     0.11   16.98   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
20   28700     16790      6.4   -4.09   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
41   25070     14500     5.92   -3.98   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
214   3218   0.00054     0.11   20.02   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  NaN  NaN
89    7740   0.00049  0.01234   14.02   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
76   18340   0.00134   0.0124   11.22   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
174   3218  0.000452   0.0987   17.34   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
224   3068    0.0024     0.17   16.12   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  NaN  NaN
140   8500    0.0005     0.01    14.5   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
217   3650    310000     1324   -7.79   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  NaN  NaN
158  17920   0.00111   0.0106   11.66   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
77   11900   0.00067  0.00898   11.38   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
193  30000     28840      6.3    -4.2   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
111   3212    0.0016    0.378  12.854   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
187  22350     12450     6.36   -3.67   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
67    3511   0.00064    0.109   17.12   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
33    3257    0.0024     0.46   10.73   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
121   7100   0.00029    0.012   14.09   0   0   0   0   0   0   0   1   0   0   0   0   0   0   1   0   0   0   0  0.0  0.0
167   2989    0.0087     0.34   13.12   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
215  12893    184000       36   -6.34   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  NaN  NaN
226   2650   0.00069     0.11   17.45   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  NaN  NaN
95    2861   0.00019   0.0899   16.71   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
71    5587     0.819     0.99    5.03   0   0   0   0   0   0   0   0   0   1   0   0   0   0   1   0   0   0   0  0.0  0.0
59    3575    123000       45   -6.78   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
192   3450    174000     1284  -11.28   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
114   9235    404940     1112  -11.23   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
74   21738    748890       92  -7.346   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
35   26000    316000     1679    -9.1   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
109   9892    593900       80  -7.262   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
51   33750    220000       26    -6.1   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
40   17120    235000       83   -6.89   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
181   3550     0.004    0.291   10.89   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
164   3614    145000     1553   -7.71   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
173   8924   0.00028  0.00879   14.87   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
8     8829    537493     1423  -10.73   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
64    3834    272000     1183    -9.2   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
93    3180     0.001     0.35   11.76   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
107   5936     1.357    1.106    4.46   0   0   0   0   0   0   0   0   0   1   0   0   0   0   1   0   0   0   0  0.0  0.0

In [76]:
X_train = X_train.fillna(0)
print(X_train)

        0         1        2       3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18  19  20  21  22   23   24  \
15   17200   0.00098    0.015   12.45   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
169   5112      0.63    0.876    4.68   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0  0.0  0.0
155   3542    0.0009     0.62   14.23   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
184   9030        45     2.63    1.45   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
66    3600    240000     1190   -7.89   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
100  36108    198000     10.2    -4.4   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
68   14982   0.00118   0.0113   12.23   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
75    3323   0.00043   0.0912   17.16   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
171  11790   0.00015    0.011   12.59   0   0   0   0   0   0   0   0   0   0   0   1   0   0   1   0   0   0   0  0.0  0.0
176   3607     0.022     0.38   10.12   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
1    12098       689     7.01    0.02   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
3    37800    202900     6.86   -4.56   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
178   3523  0.000957    0.129   16.35   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
91    6380      1.35     0.98    2.93   0   0   0   0   0   0   0   0   0   1   0   0   0   0   1   0   0   0   0  0.0  0.0
72    3531   0.00093   0.0976   19.94   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
82   10930    783930       25  -6.224   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
203   3628    0.0055    0.393   10.48   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
102  12984   0.00088  0.00996   11.23   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
60    2637   0.00073    0.127   17.22   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
182  32489    648430   1948.5  -10.84   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
135   8930   0.00056   0.0095   13.78   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
84   10980   0.00074   0.0087   11.19   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
108  38940    374830     1356   -9.93   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
117   3610    132000     1522  -10.86   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
134   2889  0.000352   0.0973   16.93   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
69    2600    0.0004    0.096    17.4   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
22   23092   0.00132   0.0104   10.18   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
166   1939  0.000138    0.103   20.06   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
78   12990  8.50E-05  0.00984   12.23   0   0   0   0   0   0   0   0   0   0   0   1   0   0   1   0   0   0   0  0.0  0.0
220   2799    0.0018     0.16   14.79   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
153   2968  0.000461    0.119   17.45   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
170  22012      6748     6.64   -2.55   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
137  24145    382993     1494   -8.84   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
198  39000    204000     10.6    -4.7   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
183   8250      9.25     1.93   -0.98   0   0   0   0   0   0   0   0   0   1   0   0   0   0   1   0   0   0   0  0.0  0.0
6     8052       8.7      1.8    2.42   0   0   0   0   0   0   0   0   1   0   0   0   1   0   0   0   0   0   0  0.0  0.0
63   19360   0.00125  0.00998   11.62   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
175  38234    272830     1356   -9.29   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
105   9373    424520       24   -5.99   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
48    2890    0.0034     0.24   13.46   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
34   15680   0.00122   0.0114   11.92   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
50    9320        29     1.91   1.236   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
94    2778  0.000849    0.112   19.45   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
123  10574   0.00014   0.0092   12.02   0   0   0   0   0   0   1   0   0   0   0   0   0   0   1   0   0   0   0  0.0  0.0
159  11096    112000       12   -5.91   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
196  19860    0.0011   0.0131   11.34   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
219  33300    240000       12    -6.5   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
161  24345    142000       57   -6.24   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
231  26140     14520     5.49    -3.8   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
190   7700   0.00011   0.0128   14.47   0   0   0   0   0   0   0   0   0   0   0   1   0   0   1   0   0   0   0  0.0  0.0
106   7220   0.00017    0.011   14.23   0   0   0   0   0   0   1   0   0   0   0   0   0   0   1   0   0   0   0  0.0  0.0
136  14100   0.00067   0.0089   12.17   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
10   17383    342900       30   -6.09   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
147  11567    251000       36  -6.245   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
54    3523    0.0054    0.319   12.43   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
238   2700   0.00018     0.13   16.05   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
233   3399    117000     1486  -10.92   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
154   9675   0.00045   0.0109   13.98   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
197  13023       998     6.21   -1.38   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
165  18000    200000     1045    -8.3   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
216  13720   0.00018  0.00892   12.97   0   0   0   0   0   0   1   0   0   0   0   0   0   0   1   0   0   0   0  0.0  0.0
132   3750    283000     1260   -7.63   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
180   3598    0.0011     0.56   14.26   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
96    3484  0.000551   0.0998   16.67   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
156  14520   0.00082  0.00972   11.92   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
42   25390    223000       57   -5.92   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
168   3008    280000       25      -6   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
47    3780    200000     1324   -10.7   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
207  24490    248490   1134.5   -8.24   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
234   2935   0.00014    0.116   18.89   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
0     3453  0.000621   0.0773   17.08   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
204   3496   0.00125    0.336   14.94   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
236  23095    347820       86  -5.905   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
116   3324    0.0065    0.471   12.78   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
120   3365    340000       23    -6.2   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
112  18734    224780       46   -7.45   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
125   3095   0.00019    0.492   10.87   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
177   6850    229000     1467  -10.07   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   1   0   0   0  0.0  0.0
139   2800    0.0002     0.16   16.65   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
7     3574    200000       89   -5.24   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
21    2914  0.000631    0.116   18.39   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
143  12675    452000       83   -5.62   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
11    3419  0.000245    0.126   17.56   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
31    3441     0.039    0.351   11.18   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
23    2835   0.00034   0.0918   16.96   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
146   3270    150000       88   -6.02   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
113   2831  0.000231   0.0915   16.21   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
101  11250       672     6.98    -2.3   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
138   7230  8.00E-05    0.013   14.08   0   0   0   0   1   0   0   0   0   0   0   0   0   0   1   0   0   0   0  0.0  0.0
103   2817   0.00098   0.0911   16.45   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
142   3600    320000       29    -6.6   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
145   2994    0.0072     0.28   13.45   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
208  11000    170000     1779    -9.9   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
18   32460    173800    6.237   -4.36   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
232   3146   0.00015   0.0932   16.92   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
65    3345     0.021    0.273    12.3   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
212   9700        74     2.89    0.16   0   0   0   0   0   0   0   0   1   0   0   0   0   1   0   0   0   0   0  0.0  0.0
16    3091    0.0081     0.24   11.43   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
81    3304    0.0085     0.18    13.2   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
152   3129    0.0122   0.3761   11.79   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
45    3324    0.0034     0.34   12.23   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
110  40000    813000       14   -6.23   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
115  27739    849420     1252   -7.59   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
14    3142   0.00132    0.258   14.12   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
210  23678    244290       35   -6.27   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
195  13420   0.00059  0.00981   13.67   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
126  24630    363000       63   -5.83   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
119   5300      0.59     0.91    5.49   0   0   0   0   0   0   0   0   0   1   0   0   0   0   1   0   0   0   0  0.0  0.0
55    3432   0.00067     0.19   16.94   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
49   12912   0.00071  0.00945   12.83   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
185   8945        38    2.487    0.12   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
30    4526     0.153    0.865   6.506   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0  0.0  0.0
209  24020   0.00159   0.0127   10.55   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
62   13089       788    5.992   -0.12   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
43    3100     0.008     0.31   11.17   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
228  20120      4720     6.78    -3.4   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
131   7723   0.00014  0.00878   14.81   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
218   3541    0.0013    0.256   14.33   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
237   3225   0.00076    0.121   19.63   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
9     3625     74000      876  -10.25   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
32   10012       552    5.856   0.013   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
128   3459    100000     1289   -10.7   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
46    2840   0.00065     0.11   16.98   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
20   28700     16790      6.4   -4.09   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
41   25070     14500     5.92   -3.98   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
214   3218   0.00054     0.11   20.02   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
89    7740   0.00049  0.01234   14.02   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
76   18340   0.00134   0.0124   11.22   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
174   3218  0.000452   0.0987   17.34   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
224   3068    0.0024     0.17   16.12   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
140   8500    0.0005     0.01    14.5   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
217   3650    310000     1324   -7.79   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
158  17920   0.00111   0.0106   11.66   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
77   11900   0.00067  0.00898   11.38   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
193  30000     28840      6.3    -4.2   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
111   3212    0.0016    0.378  12.854   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
187  22350     12450     6.36   -3.67   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
67    3511   0.00064    0.109   17.12   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
33    3257    0.0024     0.46   10.73   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
121   7100   0.00029    0.012   14.09   0   0   0   0   0   0   0   1   0   0   0   0   0   0   1   0   0   0   0  0.0  0.0
167   2989    0.0087     0.34   13.12   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
215  12893    184000       36   -6.34   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
226   2650   0.00069     0.11   17.45   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
95    2861   0.00019   0.0899   16.71   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
71    5587     0.819     0.99    5.03   0   0   0   0   0   0   0   0   0   1   0   0   0   0   1   0   0   0   0  0.0  0.0
59    3575    123000       45   -6.78   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
192   3450    174000     1284  -11.28   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
114   9235    404940     1112  -11.23   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
74   21738    748890       92  -7.346   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
35   26000    316000     1679    -9.1   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
109   9892    593900       80  -7.262   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
51   33750    220000       26    -6.1   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
40   17120    235000       83   -6.89   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
181   3550     0.004    0.291   10.89   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
164   3614    145000     1553   -7.71   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
173   8924   0.00028  0.00879   14.87   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
8     8829    537493     1423  -10.73   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
64    3834    272000     1183    -9.2   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
93    3180     0.001     0.35   11.76   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
107   5936     1.357    1.106    4.46   0   0   0   0   0   0   0   0   0   1   0   0   0   0   1   0   0   0   0  0.0  0.0

In [77]:
print(y_train)

15     0.0
169    0.0
155    0.0
184    0.0
66     1.0
100    0.0
68     0.0
75     0.0
171    0.0
176    0.0
1      0.0
3      0.0
178    0.0
91     0.0
72     0.0
82     0.0
203    NaN
102    0.0
60     0.0
182    1.0
135    0.0
84     0.0
108    1.0
117    1.0
134    0.0
69     0.0
22     0.0
166    0.0
78     0.0
220    NaN
153    0.0
170    0.0
137    1.0
198    0.0
183    0.0
6      0.0
63     0.0
175    1.0
105    0.0
48     0.0
34     0.0
50     0.0
94     0.0
123    0.0
159    0.0
196    0.0
219    NaN
161    0.0
231    NaN
190    0.0
106    0.0
136    0.0
10     0.0
147    0.0
54     0.0
238    NaN
233    NaN
154    0.0
197    0.0
165    1.0
216    NaN
132    1.0
180    0.0
96     0.0
156    0.0
42     0.0
168    0.0
47     1.0
207    NaN
234    NaN
0      0.0
204    NaN
236    NaN
116    0.0
120    0.0
112    0.0
125    0.0
177    1.0
139    0.0
7      0.0
21     0.0
143    0.0
11     0.0
31     0.0
23     0.0
146    0.0
113    0.0
101    0.0
138    0.0
103    0.0
142    0.0
145    0.0
208    NaN
18     0.0
232    NaN
65     0.0
212    NaN
16     0.0
81     0.0
152    0.0
45     0.0
110    0.0
115    1.0
14     0.0
210    NaN
195    0.0
126    0.0
119    0.0
55     0.0
49     0.0
185    0.0
30     0.0
209    NaN
62     0.0
43     0.0
228    NaN
131    0.0
218    NaN
237    NaN
9      1.0
32     0.0
128    1.0
46     0.0
20     0.0
41     0.0
214    NaN
89     0.0
76     0.0
174    0.0
224    NaN
140    0.0
217    NaN
158    0.0
77     0.0
193    0.0
111    0.0
187    0.0
67     0.0
33     0.0
121    0.0
167    0.0
215    NaN
226    NaN
95     0.0
71     0.0
59     0.0
192    1.0
114    1.0
74     0.0
35     1.0
109    0.0
51     0.0
40     0.0
181    0.0
164    1.0
173    0.0
8      1.0
64     1.0
93     0.0
107    0.0
56     0.0
97     0.0
37     1.0
133    0.0
83     0.0
221    NaN
213    NaN
36     1.0
80     1.0
104    0.0
172    0.0
73     0.0
99     0.0
28     0.0
157    0.0
61     0.0
29     0.0
129    1.0
200    NaN
86     0.0
205    NaN
191    0.0
39     1.0
98     1.0
12     1.0
25     0.0
44     0.0
5      1.0
87     0.0
85     0.0
230    NaN
Name: target, dtype: float64

In [78]:
y_train = y_train.fillna(0)
print(y_train)

15     0.0
169    0.0
155    0.0
184    0.0
66     1.0
100    0.0
68     0.0
75     0.0
171    0.0
176    0.0
1      0.0
3      0.0
178    0.0
91     0.0
72     0.0
82     0.0
203    0.0
102    0.0
60     0.0
182    1.0
135    0.0
84     0.0
108    1.0
117    1.0
134    0.0
69     0.0
22     0.0
166    0.0
78     0.0
220    0.0
153    0.0
170    0.0
137    1.0
198    0.0
183    0.0
6      0.0
63     0.0
175    1.0
105    0.0
48     0.0
34     0.0
50     0.0
94     0.0
123    0.0
159    0.0
196    0.0
219    0.0
161    0.0
231    0.0
190    0.0
106    0.0
136    0.0
10     0.0
147    0.0
54     0.0
238    0.0
233    0.0
154    0.0
197    0.0
165    1.0
216    0.0
132    1.0
180    0.0
96     0.0
156    0.0
42     0.0
168    0.0
47     1.0
207    0.0
234    0.0
0      0.0
204    0.0
236    0.0
116    0.0
120    0.0
112    0.0
125    0.0
177    1.0
139    0.0
7      0.0
21     0.0
143    0.0
11     0.0
31     0.0
23     0.0
146    0.0
113    0.0
101    0.0
138    0.0
103    0.0
142    0.0
145    0.0
208    0.0
18     0.0
232    0.0
65     0.0
212    0.0
16     0.0
81     0.0
152    0.0
45     0.0
110    0.0
115    1.0
14     0.0
210    0.0
195    0.0
126    0.0
119    0.0
55     0.0
49     0.0
185    0.0
30     0.0
209    0.0
62     0.0
43     0.0
228    0.0
131    0.0
218    0.0
237    0.0
9      1.0
32     0.0
128    1.0
46     0.0
20     0.0
41     0.0
214    0.0
89     0.0
76     0.0
174    0.0
224    0.0
140    0.0
217    0.0
158    0.0
77     0.0
193    0.0
111    0.0
187    0.0
67     0.0
33     0.0
121    0.0
167    0.0
215    0.0
226    0.0
95     0.0
71     0.0
59     0.0
192    1.0
114    1.0
74     0.0
35     1.0
109    0.0
51     0.0
40     0.0
181    0.0
164    1.0
173    0.0
8      1.0
64     1.0
93     0.0
107    0.0
56     0.0
97     0.0
37     1.0
133    0.0
83     0.0
221    0.0
213    0.0
36     1.0
80     1.0
104    0.0
172    0.0
73     0.0
99     0.0
28     0.0
157    0.0
61     0.0
29     0.0
129    1.0
200    0.0
86     0.0
205    0.0
191    0.0
39     1.0
98     1.0
12     1.0
25     0.0
44     0.0
5      1.0
87     0.0
85     0.0
230    0.0
Name: target, dtype: float64

### Now Use Random Forest Classifier to Train the Model

In [79]:
# Create model with random forest classifier 
# 20 random trees 
model = RandomForestClassifier(n_estimators=20)
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=20,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [80]:
X_test = X_test.fillna(0)
print(X_test)
y_test = y_test.fillna(0)
print(y_test)

        0         1        2       3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18  19  20  21  22   23   24  \
19    2621    0.0006    0.098   12.81   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
206  17140       883    5.653   -2.64   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
194   3295   0.00098    0.132   17.13   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
222   8927    239000       35   -7.34   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
188   4980     0.357     1.13    4.78   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   1   0   0  0.0  0.0
24    3341    0.0056    0.057   16.23   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
53    2600    0.0003    0.102    18.7   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
148   3158   0.00135    0.161   13.98   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
2     2731  0.000437   0.0856   18.09   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
189   3192   0.00362   0.1967   13.53   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
130   3692   0.00367     0.47    10.8   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
27   18290    0.0013  0.00934   12.78   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
201   2935   0.00087   0.0932   16.88   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
150   3134    0.0004    0.196   13.21   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
227  21904    748490     1130   -7.67   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
160   5800      0.81      0.9    5.05   0   0   0   0   0   0   0   0   0   1   0   0   0   0   1   0   0   0   0  0.0  0.0
70   37882    294903     1783    -7.8   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
235   3340    0.0038     0.24   13.07   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
163  23440    537430       81  -5.975   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
13    9383    342940       98   -6.98   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
124  15276      1136      7.2   -1.97   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
118  13340   0.00109   0.0116    12.9   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
88    3570    320000     1480   -7.58   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
4     8570   0.00081   0.0097    14.2   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
149  34190    198200     6.39   -4.57   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
52    3042    0.0005   0.1542    16.6   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
141   2856  0.000896   0.0782   19.56   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
199  12010   0.00078   0.0092   12.13   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
186  29560    188000     6.02   -4.01   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
225   3150    0.0088     0.35   11.94   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
229  12749    332520       76   -7.02   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
92    3463    0.0027    0.675  14.776   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  1.0
202  16390      1278     5.68   -3.32   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
127   3625    184000       84   -6.74   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
122  14245    231000       42   -6.12   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
211  16790    0.0014   0.0121   12.87   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0
79    4015    282000     1534  -11.39   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0  0.0  0.0
58    3660    363000     1673  -11.92   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
144   7720      7.92     1.34    2.44   0   0   0   0   0   0   0   0   0   1   0   0   0   0   1   0   0   0   0  0.0  0.0
90   14060      1092    5.745   -2.04   0   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0  0.0  0.0
179  30839    834042     1194  -10.63   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
223   3826    200000       19   -6.93   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
162   3490    270000     1520    -9.4   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
17   26373    198000       39   -5.83   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   1  0.0  0.0
57   14732   0.00011  0.00892   12.89   0   0   0   0   0   0   1   0   0   0   0   0   0   0   1   0   0   0   0  0.0  0.0
151   3615    200000     1635  -11.33   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  0.0  0.0
38    2774   0.00036    0.118   17.39   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   1   0  1.0  0.0
26   19920   0.00156   0.0142   11.34   1   0   0   0   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0  0.0  0.0

      25   26   27
19   0.0  0.0  0.0
206  0.0  0.0  0.0
194  0.0  0.0  0.0
222  0.0  0.0  0.0
188  0.0  1.0  0.0
24   0.0  0.0  0.0
53   0.0  0.0  0.0
148  0.0  0.0  0.0
2    0.0  0.0  0.0
189  0.0  0.0  0.0
130  0.0  0.0  0.0
27   1.0  0.0  0.0
201  0.0  0.0  0.0
150  0.0  0.0  0.0
227  0.0  0.0  0.0
160  0.0  1.0  0.0
70   0.0  0.0  0.0
235  0.0  0.0  0.0
163  0.0  0.0  1.0
13   0.0  0.0  1.0
124  0.0  1.0  0.0
118  1.0  0.0  0.0
88   0.0  0.0  0.0
4    1.0  0.0  0.0
149  0.0  1.0  0.0
52   0.0  0.0  0.0
141  0.0  0.0  0.0
199  1.0  0.0  0.0
186  0.0  1.0  0.0
225  0.0  0.0  0.0
229  0.0  0.0  0.0
92   0.0  0.0  0.0
202  0.0  0.0  0.0
127  0.0  0.0  1.0
122  0.0  0.0  1.0
211  0.0  0.0  0.0
79   0.0  0.0  0.0
58   0.0  0.0  0.0
144  0.0  1.0  0.0
90   0.0  1.0  0.0
179  0.0  0.0  0.0
223  0.0  0.0  0.0
162  0.0  0.0  0.0
17   0.0  0.0  1.0
57   1.0  0.0  0.0
151  0.0  0.0  0.0
38   0.0  0.0  0.0
26   1.0  0.0  0.0
19     0.0
206    0.0
194    0.0
222    0.0
188    0.0
24     0.0
53     0.0
148    0.0
2      0.0
189    0.0
130    0.0
27     0.0
201    0.0
150    0.0
227    0.0
160    0.0
70     1.0
235    0.0
163    0.0
13     0.0
124    0.0
118    0.0
88     1.0
4      0.0
149    0.0
52     0.0
141    0.0
199    0.0
186    0.0
225    0.0
229    0.0
92     0.0
202    0.0
127    0.0
122    0.0
211    0.0
79     1.0
58     1.0
144    0.0
90     0.0
179    1.0
223    0.0
162    1.0
17     0.0
57     0.0
151    1.0
38     0.0
26     0.0
Name: target, dtype: float64

In [81]:
# The accuracy
model.score(X_test, y_test)

0.9583333333333334